@tailwind base;
@tailwind components;
@tailwind utilities;

*{
 
  font-family: "Gentium Book Plus", serif;;
}
.active {
  color: black;
}
.slick-prev:before, .slick-next:before {
  color: rgb(0, 0, 0) !important;
}
.slick-slide > div{
  margin: 0 10px;
}